<div class="bg-dark text-light min-vh-100">
    <main>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <br>
                    <br>
                    <br>
                    <form [formGroup]="newUserForm" (ngSubmit)="submit()">

                        <div class="row g-3">
                            <div class="my-3"></div>
                            <h2 class="text-center"><b>Registrarse</b></h2>
                            <p class="text-center">Llena todos los campos necesarios para poder ingresar al sistema</p>
                            <br>
                            <br>
                            @if (actionDone) {
                            @if (operationDone) {
                            <successful-action-component [message]="responseMessage"></successful-action-component>
                            } @else {
                            <unsuccessful-action-component [message]="responseMessage"></unsuccessful-action-component>
                            }
                            }
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="nickname" class="form-label">Nickname:</label>
                                    <input type="text" class="form-control" id="nickname" name="nickname"
                                        formControlName="nickname">

                                    @if (newUserForm.controls['nickname'].invalid &&
                                    newUserForm.controls['nickname'].dirty) {
                                    <div class="invalid-feedback">
                                        <div>
                                            Se debe ingresar un nombre con 100 caracteres como máximo
                                        </div>
                                    </div>
                                    }

                                </div>
                            </div>

                            <div class="col-12">
                                @if(!isEditMode) {
                                <div class="form-group">
                                    <label for="email" class="form-label">Correo electrónico:</label>
                                    <input type="text" class="form-control" id="email" name="email"
                                        formControlName="email"
                                        [class.is-invalid]="newUserForm.controls['email'].dirty && newUserForm.controls['email'].invalid">
                                    @if (newUserForm.controls['email'].invalid && newUserForm.controls['email'].touched)
                                    {
                                    <div class="invalid-feedback">
                                        <div>
                                            Por favor ingrese un correo valido
                                        </div>
                                    </div>
                                    }
                                </div>

                                } @else {

                                <div class="form-group">
                                    <label for="email" class="form-label">Correo electrónico:</label>
                                    <input type="text" class="form-control" formControlName="email"
                                        [readonly]="isEditMode">

                                </div>

                                }
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="country" class="form-label">Ciudad:</label>
                                    <input type="text" class="form-control" id="country" name="country"
                                        formControlName="country">

                                    @if (newUserForm.controls['country'].invalid &&
                                    newUserForm.controls['country'].dirty) {
                                    <div class="invalid-feedback">
                                        <div>
                                            Se debe ingresar una ciudad con 100 caracteres como máximo
                                        </div>
                                    </div>
                                    }

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="phoneNumber" class="form-label">Número telefónico:</label>
                                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                        formControlName="phoneNumber">

                                    @if (newUserForm.controls['phoneNumber'].invalid &&
                                    newUserForm.controls['phoneNumber'].dirty) {
                                    <div class="invalid-feedback">
                                        <div>
                                            Se debe ingresar un número telefónico válido
                                        </div>
                                    </div>
                                    }

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="birthDate" class="form-label">Fecha de cumpleaños:</label>
                                    <input type="date" class="form-control" id="birthDate" name="birthDate"
                                        formControlName="birthDate">

                                    @if (newUserForm.controls['birthDate'].invalid &&
                                    newUserForm.controls['birthDate'].dirty) {
                                    <div class="invalid-feedback">
                                        <div>
                                            Se debe ingresar una fecha de cumpleaños con 100 caracteres como máximo
                                        </div>
                                    </div>
                                    }

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="photo" class="form-label">Foto de perfil:</label>
                                    <input type="file" class="form-control" (change)="onFileSelected($event)">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="password" class="form-label">Contraseña:</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        formControlName="password">

                                    @if (newUserForm.controls['password'].invalid &&
                                    newUserForm.controls['password'].dirty) {
                                    <div class="invalid-feedback">
                                        <div>
                                            Se debe ingresar una contraseña con 100 caracteres como máximo
                                        </div>
                                    </div>
                                    }

                                </div>
                            </div>

                        </div>
                        <button class="btn btn-secondary me-md-2" type="button" (click)="reset()">Limpiar</button>
                        <button class="btn btn-primary" [disabled]="!newUserForm.dirty || newUserForm.invalid">
                            Guardar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <div class="my-5"></div>
</div>