<div class="container-lg pt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">

            @if (this.state.error||this.state.success) {
            @if (!this.state.error&&this.state.success) {
            <successful-action-component [message]="this.state.message"></successful-action-component>
            }@else {
            <unsuccessful-action-component [message]="this.state.message"></unsuccessful-action-component>
            }
            }

            <h1>Agregar categoría</h1>
            <form [formGroup]="updateObjectForm" (ngSubmit)="updateObject()">

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre de la categoría</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="newCategory">
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>


        </div>
    </div>
</div>